Repository EdgeFirstAI/client: changes, and which Codecov flags are due for each by the changed paths.
All: rust, python

Release 2.12.3
  CHANGELOG.md
  CLI.md
  Cargo.lock
  Cargo.toml
Due: none

Isolate test_auth_workflow token path from parallel tests
  crates/edgefirst-cli/tests/cli.rs
Due: none

automation: update Swift package for v2.12.3 release [skip ci]
  Package.swift
Due: none

Add Default to typeid! IDs and DatasetParams
  crates/edgefirst-client/src/api.rs
Due: rust

Tolerate training sessions with unconfigured model/dataset params
  crates/edgefirst-client/src/api.rs
  crates/edgefirst-client/src/dataset.rs
  crates/edgefirst-client/tests/wiremock_coverage.rs
Due: rust

Document TrainingSession missing-params fix
  CHANGELOG.md
Due: none

Fix macro_rules! typeid documentation to include the Default trait
  crates/edgefirst-client/src/api.rs
Due: rust

Fix ruff format/lint violations in edgefirst_client.pyi
  crates/edgefirst-client-py/edgefirst_client.pyi
Due: rust, python

Release 2.12.4
  CHANGELOG.md
  CLI.md
  Cargo.lock
  Cargo.toml
Due: none

automation: update Swift package for v2.12.4 release [skip ci]
  Package.swift
Due: none

Add automated release-tag workflow
  .github/workflows/tag-release.yml
Due: none

fix(ci): stop interpolating the PR branch name into tag-release.yml
  .github/workflows/tag-release.yml
Due: none

chore(ci): add a script-injection audit for workflow files
  .github/scripts/audit-injection.sh
Due: none

refactor: remove UniFFI, Swift, and Kotlin mobile bindings
  .github/copilot-instructions.md
  .gitignore
  ANDROID.md
  APPLE.md
  CLI.md
  Cargo.lock
  Cargo.toml
  Makefile
  Package.swift
  README.md
  codecov.yml
  crates/edgefirst-client-ffi/Cargo.toml
  crates/edgefirst-client-ffi/src/lib.rs
  crates/edgefirst-client-ffi/uniffi.toml
  crates/edgefirst-client/src/api.rs
  crates/uniffi-bindgen/Cargo.toml
  crates/uniffi-bindgen/src/main.rs
  sonar-project.properties
  swift/EdgeFirstClient.swift
  swift/EdgeFirstClientTests/AnnotationTypeTests.swift
  swift/EdgeFirstClientTests/ArtifactTests.swift
  swift/EdgeFirstClientTests/ClientTests.swift
  swift/EdgeFirstClientTests/DatasetTests.swift
  swift/EdgeFirstClientTests/DomainStructTests.swift
  swift/EdgeFirstClientTests/EdgeCaseTests.swift
  swift/EdgeFirstClientTests/EntityTests.swift
  swift/EdgeFirstClientTests/ErrorTests.swift
  swift/EdgeFirstClientTests/ExperimentTests.swift
  swift/EdgeFirstClientTests/FileTypeTests.swift
  swift/EdgeFirstClientTests/IDFormatTests.swift
  swift/EdgeFirstClientTests/IdTypeTests.swift
  swift/EdgeFirstClientTests/ParameterTests.swift
  swift/EdgeFirstClientTests/ProjectTests.swift
  swift/EdgeFirstClientTests/SampleTests.swift
  swift/EdgeFirstClientTests/SchemaTests.swift
  swift/EdgeFirstClientTests/SnapshotTests.swift
  swift/EdgeFirstClientTests/StorageErrorTests.swift
  swift/EdgeFirstClientTests/StorageTests.swift
  swift/EdgeFirstClientTests/TaskInfoTests.swift
  swift/EdgeFirstClientTests/TestConfig.swift
Due: rust

ci: rationalize the workflow graph and drop the mobile lanes
  .github/actionlint.yaml
  .github/scripts/audit-injection.sh
  .github/scripts/wait-for-run.sh
  .github/workflows/build.yml
  .github/workflows/mobile.yml
  .github/workflows/release.yml
  .github/workflows/sbom.yml
  .github/workflows/test.yml
Due: none

docs: describe the current CI graph and record the mobile removal
  .github/WORKFLOW_ARCHITECTURE.md
  CHANGELOG.md
Due: none

ci: stop a failing test from taking SonarCloud down with it
  .github/workflows/test.yml
Due: none

test: skip snapshot assertions on a known server-side issue
  crates/edgefirst-cli/tests/cli.rs
  test/test_snapshots.py
Due: none

ci: resolve the SonarCloud findings on the new workflows
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/sbom.yml
  .github/workflows/tag-release.yml
  .github/workflows/test.yml
  CHANGELOG.md
  crates/edgefirst-cli/tests/cli.rs
Due: none

fix: resolve the two remaining actionable SonarCloud findings
  crates/edgefirst-client/src/coco/studio.rs
  sonar.py
Due: rust

ci: stop the test job timing out, and don't scan without its artifacts
  .github/workflows/test.yml
Due: none

test: cap nextest concurrency so the suite stops overwhelming Studio
  .config/nextest.toml
  CHANGELOG.md
Due: none

ci: take Studio integration tests off the pull-request path
  .github/workflows/studio.yml
  .github/workflows/test.yml
  CHANGELOG.md
Due: none

ci: move the nightly cron off the top of the hour
  .github/workflows/studio.yml
Due: none

fix(ci): route the client lib's Studio tests off the pull-request lane
  .github/workflows/studio.yml
  .github/workflows/test.yml
  CHANGELOG.md
  crates/edgefirst-client/src/lib.rs
Due: rust

docs(test): drop server-bug detail from the snapshot-restore skip marker
  crates/edgefirst-cli/tests/cli.rs
Due: none

test: disable snapshot restore while the server-side rework lands
  CHANGELOG.md
  crates/edgefirst-cli/tests/cli.rs
  test/test_snapshots.py
Due: none

ci: publish combined unit and Studio coverage from the nightly
  .github/workflows/studio.yml
  .github/workflows/test.yml
  CHANGELOG.md
Due: none

fix(security): stop writing auth tokens into trace logs
  CHANGELOG.md
  crates/edgefirst-client/src/client.rs
Due: rust

feat(api): add BackgroundTaskID for the bt- form apps receive (DE-2876)
  .github/workflows/test.yml
  CHANGELOG.md
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/src/api.rs
  crates/edgefirst-client/src/lib.rs
  test/test_ids.py
Due: rust, python

docs(api): demonstrate the TaskID/BackgroundTaskID conversion in the doctest
  CHANGELOG.md
  crates/edgefirst-client/src/api.rs
Due: rust

test: mock the core read surface and enforce mocks for new RPC methods
  .github/copilot-instructions.md
  .github/rpc-mock-baseline.txt
  .github/scripts/rpc-mock-coverage.sh
  .github/workflows/test.yml
  CHANGELOG.md
  crates/edgefirst-client/tests/wiremock_coverage.rs
Due: none

fix(api)!: map error codes for every method, and type credits as f64
  CHANGELOG.md
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/src/api.rs
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/tests/wiremock_coverage.rs
Due: rust, python

test: correct two inaccuracies found reviewing mocks against dve-database
  .github/scripts/rpc-mock-coverage.sh
  crates/edgefirst-client/tests/wiremock_coverage.rs
Due: none

ci: cross-check the RPC wrapper list against the source
  .github/scripts/rpc-mock-coverage.sh
Due: none

ci: brace the variable expansion flagged by shellcheck SC1087
  .github/scripts/rpc-mock-coverage.sh
Due: none

fix(ci): collect integration-test coverage, which was being discarded
  .github/scripts/setup-coverage-env.sh
  .github/workflows/studio.yml
  .github/workflows/test.yml
Due: none

DE-2863: Add Python GPS/IMU sample metadata setters
  CHANGELOG.md
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
Due: rust, python

DE-2863: Add GPS/IMU Python sample setters and label_index round-trip test
  CHANGELOG.md
  crates/edgefirst-client-py/src/lib.rs
  test/test_datasets.py
Due: rust, python

DE-2863: Extend GPS/IMU mock coverage and fix rebase changelog
  .github/rpc-mock-baseline.txt
  .github/workflows/test.yml
  CHANGELOG.md
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client/src/dataset.rs
  crates/edgefirst-client/tests/wiremock_coverage.rs
  test/test_sample_metadata.py
Due: rust, python

Path conditions:
  rust: any of: crates/, but not: **/*.md, **/test*.py, **/*_test.rs, **/tests/**, testdata/**, examples/**
  python: any of: crates/edgefirst-client-py/, but not: **/*.md, **/test*.py, **/*_test.rs, **/tests/**, testdata/**, examples/**
