Repository EdgeFirstAI/client: changes, and which Codecov flags are due for each by the changed paths.
All: rust, python

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        base: auto
        informational: true

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  rust:
    paths:
      - crates/
    carryforward: false
  python:
    paths:
      - crates/edgefirst-client-py/
    carryforward: false

ignore:
  - "**/*.md"
  - "**/test*.py"
  - "**/*_test.rs"
  - "**/tests/**"
  - "testdata/**"
  - "examples/**"

Release 2.13.0
  CHANGELOG.md
  CLI.md
  Cargo.lock
  Cargo.toml
Due: none

Fix tag-release.yml: create annotated tag instead of lightweight
  .github/workflows/tag-release.yml
Due: none

Preserve COCO category_id as Studio label_index on import/export
  CHANGELOG.md
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/src/coco/studio.rs
  crates/edgefirst-client/src/dataset.rs
Due: rust

Fix COCO export label_index conversion and rustfmt
  crates/edgefirst-client/src/coco/studio.rs
Due: rust

Fix missing image detection and bare image filenames in download_dataset
  CHANGELOG.md
  CLI.md
  Cargo.lock
  Cargo.toml
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/src/dataset.rs
  crates/edgefirst-client/src/error.rs
  crates/edgefirst-client/tests/wiremock_coverage.rs
Due: rust, python

Address PR review feedback: redact image_url in errors, fix .pyi wording
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client/src/dataset.rs
Due: rust, python

Fix nightly Studio test reporting and two always-failing tests
  .github/scripts/collect-nextest-results.sh
  .github/workflows/studio.yml
  crates/edgefirst-cli/tests/cli.rs
Due: none

Surface silent snapshot failures and report nightly results
  .github/workflows/studio.yml
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/src/error.rs
  crates/edgefirst-client/tests/wiremock_coverage.rs
  test/fixtures.py
  test/test_coco.py
  test/test_ids.py
Due: rust

Correct snapshots.create diagnosis and keep the batch job handle
  crates/edgefirst-client/src/api.rs
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/tests/wiremock_coverage.rs
Due: rust

Fail on unreadable optional columns instead of degrading to absent
  crates/edgefirst-cli/tests/cli.rs
Due: none

chore: prepare v2.13.2 release
  CHANGELOG.md
  CLI.md
  Cargo.lock
  Cargo.toml
Due: none

docs: stop implying the snapshots.create batch-job fix is a resolution
  CHANGELOG.md
  CLI.md
Due: none

Fix populate_samples location and label_index round-trip
  CHANGELOG.md
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/tests/wiremock_coverage.rs
Due: rust

Write Parquet datasets from coco-to-arrow
  Cargo.lock
  Cargo.toml
  crates/edgefirst-client/src/coco/arrow.rs
Due: rust

Accept Parquet datasets in every reader path
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-client/src/coco/arrow.rs
  crates/edgefirst-client/src/format.rs
Due: rust

Peek dataset metadata before full decode in migrate version check
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-client/src/format.rs
Due: rust

Stage COCO images into the offline dataset layout
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/src/coco/arrow.rs
Due: rust, python

Detect basename collisions across sources in image staging
  crates/edgefirst-client/src/coco/arrow.rs
Due: rust

Document offline dataset staging and Parquet support
  CHANGELOG.md
  CLI.md
  DATASET_FORMAT.md
  crates/edgefirst-cli/src/main.rs
Due: rust

Address PR review feedback: fix migrate Parquet output and nits
  DATASET_FORMAT.md
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/src/coco/arrow.rs
  crates/edgefirst-client/src/coco/mod.rs
Due: rust, python

Fix binary name in coco-to-arrow help examples
  crates/edgefirst-cli/src/main.rs
Due: rust

Address remaining PR review nits in coco-to-arrow image staging
  crates/edgefirst-client/src/coco/arrow.rs
Due: rust

chore: prepare v2.14.0 release
  .github/WORKFLOW_ARCHITECTURE.md
  CHANGELOG.md
  CLI.md
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  DATASET_FORMAT.md
  Makefile
  README.md
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-cli/tests/cli.rs
  crates/edgefirst-cli/tests/coco_offline.rs
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/src/coco/arrow.rs
  crates/edgefirst-client/src/coco/mod.rs
  crates/edgefirst-client/src/format.rs
  crates/edgefirst-client/tests/coco_integration.rs
  examples/08_coco_conversion.py
  examples/README.md
  sonar.py
  test/test_coco_roundtrip.py
Due: rust, python

fix: address release review feedback
  Makefile
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-cli/tests/cli.rs
  crates/edgefirst-client/src/coco/arrow.rs
  crates/edgefirst-client/src/format.rs
  examples/08_coco_conversion.py
  examples/_path.py
  test/test_example_paths.py
Due: rust

fix: tighten release validation
  .github/workflows/test.yml
  Makefile
  crates/edgefirst-client/src/coco/arrow.rs
Due: rust

Add truncation and occlusion annotation columns
  DATASET_FORMAT.md
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/src/dataset.rs
  crates/edgefirst-client/src/lib.rs
Due: rust, python

Add VisDrone annotation reader
  crates/edgefirst-client/src/lib.rs
  crates/edgefirst-client/src/visdrone/mod.rs
  crates/edgefirst-client/src/visdrone/reader.rs
Due: rust

Add generic file staging and unpadded frame lookup
  crates/edgefirst-client/src/format.rs
Due: rust

Convert VisDrone DET splits to EdgeFirst datasets
  crates/edgefirst-client/src/visdrone/arrow.rs
  crates/edgefirst-client/src/visdrone/mod.rs
  crates/edgefirst-client/src/visdrone/tests.rs
Due: rust

Convert VisDrone VID sequences with frames and track ids
  crates/edgefirst-client/src/visdrone/arrow.rs
  crates/edgefirst-client/src/visdrone/tests.rs
Due: rust

Add visdrone-to-arrow CLI command
  CLI.md
  Cargo.lock
  README.md
  crates/edgefirst-cli/Cargo.toml
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-cli/tests/visdrone_offline.rs
Due: rust

Expose visdrone_to_arrow to Python
  Makefile
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
  examples/09_visdrone_conversion.py
  examples/README.md
  test/test_visdrone.py
Due: rust, python

Carry optional annotation columns through upload-dataset
  CLI.md
  crates/edgefirst-cli/src/main.rs
Due: rust

Document VisDrone converter and attribute columns
  CHANGELOG.md
Due: none

Send the COCO score to Studio only when the source has one
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/src/api.rs
  crates/edgefirst-client/src/coco/studio.rs
Due: rust, python

Document truncation and occlusion columns as UInt32
  DATASET_FORMAT.md
  crates/edgefirst-client/src/dataset.rs
Due: rust

Note VisDrone source fidelity and fix converter doc comments
  CLI.md
  crates/edgefirst-client/src/visdrone/arrow.rs
Due: rust

Treat an empty object reference from Studio as absent
  crates/edgefirst-client/src/dataset.rs
Due: rust

Add changelog entries for the score and object reference fixes
  CHANGELOG.md
Due: none

Reject zero workers and skip VID rows whose frame has no image
  crates/edgefirst-client/src/visdrone/arrow.rs
  crates/edgefirst-client/src/visdrone/tests.rs
Due: rust
