Repository EdgeFirstAI/client: changes, and which Codecov flags are due for each by the changed paths.
All: rust, python

Update AGENTS.md to prohibit hiding command output
  AGENTS.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update CLI.md
  CLI.md
Due: none

Address Copilot PR review feedback
  .github/scripts/generate_sbom.sh
  .github/workflows/sbom.yml
  CONTRIBUTING.md
  Makefile
Due: none

Update crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/src/client.rs
Due: rust

Update crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/edgefirst_client.pyi
Due: rust, python

Apply rustfmt line wrapping and exclude SPS directory
  .gitignore
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/src/retry.rs
Due: rust

Complete SPS adherence documentation updates
  AGENTS.md
  CONTRIBUTING.md
Due: none

Add comprehensive snapshot API coverage
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/src/lib.rs
  test_snapshots.py
Due: rust, python

Fix SonarCloud issues for PR #7
  .github/workflows/sbom.yml
  .gitignore
  examples/download.py
Due: none

Address Copilot review feedback
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-client-py/src/lib.rs
Due: rust, python

Add edgefirst_cmd() helper and remove deprecated Command::cargo_bin() calls
  CLI.md
  README.md
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-cli/tests/cli.rs
  snapshot_test.log
  test.log
Due: rust

DE-2336-studio-testing
  .github/workflows/studio.yml
Due: none

Switch to unwrap_or_else instead of expect because of function call to format.
  crates/edgefirst-cli/tests/cli.rs
Due: none

Fix CI: Add required toolchain input to taiki-e/install-action
  .github/workflows/test.yml
Due: none

Remove log files from git.
  snapshot_test.log
  test.log
Due: none

Fix studio.yml false success reporting and add JUnit XML
  .github/workflows/studio.yml
Due: none

Add --monitor option to CLI task and restore-snapshot commands
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-cli/tests/cli.rs
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/src/api.rs
  crates/edgefirst-client/src/lib.rs
  examples/coco.py
  test/test_coco.py
Due: rust, python

Add types parameter to tasks API for server-side workflow filtering
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client/src/api.rs
  crates/edgefirst-client/src/client.rs
Due: rust, python

Add empty token validation and diagnostic output for auth tests
  crates/edgefirst-cli/tests/cli.rs
  crates/edgefirst-client/src/client.rs
Due: rust

Make test errors hard failures and add JIRA tracking codes
  crates/edgefirst-cli/tests/cli.rs
  crates/edgefirst-client/src/lib.rs
Due: rust

test: add detailed JWT token debugging to test_auth_workflow
  crates/edgefirst-cli/tests/cli.rs
Due: none

Fix Python tests to support username/password authentication
  test/__init__.py
Due: none

Fix: Replace 'exit 0' with 'exit $TEST_EXIT_CODE' in studio workflow
  .github/workflows/studio.yml
Due: none

Fix test_corrupted_token_handling test reliability
  crates/edgefirst-cli/tests/cli.rs
Due: none

refactor: reduce cognitive complexity in test_datasets.py and organize tests
  crates/edgefirst-client/src/lib.rs
  test/test_datasets.py
  test/test_snapshots.py
Due: rust

Remove log files from git.
  .gitignore
Due: none

Mark test_snapshot_restore_workflow as ignored due to server bug
  crates/edgefirst-cli/tests/cli.rs
Due: none

Add explicit test failure detection to workflows
  .github/workflows/test.yml
Due: none

chore: replace THIRD_PARTY.md with sbom.json in releases
  .github/WORKFLOW_ARCHITECTURE.md
  .github/workflows/release.yml
  .gitignore
  CHANGELOG.md
  NOTICE.md
  SECURITY.md
Due: none

chore: prepare v2.5.0 release
  CHANGELOG.md
  CLI.md
  Cargo.toml
Due: none

chore: align project with SPS v2.1 release management standards
  .github/workflows/release.yml
  AGENTS.md
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  release.toml
Due: none

Added .markdownlint.json and reformatted project markdowns.
  .github/WORKFLOW_ARCHITECTURE.md
  .github/pull_request_template.md
  .gitignore
  .markdownlint.json
  AGENTS.md
  CHANGELOG.md
  CLI.md
  CONTRIBUTING.md
  DATASET_FORMAT.md
  NOTICE.md
  README.md
  SECURITY.md
  SUPPORT.md
Due: none

Remove invalid toolchain parameter from taiki-e/install-action
  .github/workflows/test.yml
Due: none

Fix cleanup of Python Mixed Sequence Test dataset
  test/test_advanced.py
Due: none

chore: prepare v2.5.1 release
  CHANGELOG.md
  CLI.md
  Cargo.toml
Due: none

chore: prepare v2.5.1 release
  Cargo.lock
Due: none

Improve name filter result ordering in list APIs
  CHANGELOG.md
  crates/edgefirst-cli/tests/cli.rs
  crates/edgefirst-client/src/client.rs
  test/test_datasets.py
Due: rust

Fix release workflow to use SBOM from exact tag commit
  .github/workflows/release.yml
  .github/workflows/sbom.yml
Due: none

chore: prepare v2.5.2 release
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/edgefirst-client-py/edgefirst_client.pyi
Due: rust, python

Path conditions:
  rust: any of: crates/, but not: **/*.md, **/test*.py, **/*_test.rs, **/tests/**, testdata/**, examples/**
  python: any of: crates/edgefirst-client-py/, but not: **/*.md, **/test*.py, **/*_test.rs, **/tests/**, testdata/**, examples/**
