Repository EdgeFirstAI/client: changes, and which Codecov flags are due for each by the changed paths.
All: rust, python

Add create_snapshot_from_dataset API and format utilities
  CHANGELOG.md
  CLI.md
  Cargo.lock
  Cargo.toml
  README.md
  crates/edgefirst-cli/Cargo.toml
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-cli/tests/cli.rs
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/src/api.rs
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/src/dataset.rs
  crates/edgefirst-client/src/format.rs
  crates/edgefirst-client/src/lib.rs
  test/test_snapshots.py
Due: rust, python

Correction to DATASET_FORMAT.md for pose which is actually roll, pitch, yaw.
  .gitignore
  DATASET_FORMAT.md
Due: none

DE-2242: Add ergonomic Python API with embedded client reference
  CHANGELOG.md
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/src/dataset.rs
  examples/coco.py
  test/test_datasets.py
Due: rust, python

DE-2242: Fix Python formatting issues
  test/fixtures.py
  test/test_coco.py
  test/test_experiments.py
  test/test_parameter.py
  test/test_snapshots.py
Due: none

Add ergonomic Python API with embedded client references
  .gitignore
  CHANGELOG.md
  DATASET_FORMAT.md
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/src/dataset.rs
  examples/coco.py
  test/fixtures.py
  test/test_coco.py
  test/test_datasets.py
  test/test_experiments.py
  test/test_parameter.py
  test/test_snapshots.py
Due: rust, python

test: temporarily disable roundtrip tests due to CI timeouts
  crates/edgefirst-cli/tests/cli.rs
  test/test_datasets.py
Due: none

Remove more junk from the GitHub Runner
  .github/workflows/test.yml
Due: none

Ignore TODO.md which is meant for local task tracking.
  .gitignore
Due: none

EDGEAI-1007: Add token storage abstraction for platform portability
  CHANGELOG.md
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/src/error.rs
  crates/edgefirst-client/src/lib.rs
  crates/edgefirst-client/src/storage.rs
  test/test_storage.py
Due: rust, python

Update crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client-py/src/lib.rs
Due: rust, python

Update test/test_storage.py
  test/test_storage.py
Due: none

fix: make storage path test platform-agnostic
  test/test_storage.py
Due: none

fix: improve download.py example authentication handling
  examples/download.py
  test/test_examples.py
Due: none

Add UniFFI bindings for Kotlin and Swift (Phase 3-4)
  Cargo.lock
  Cargo.toml
  crates/edgefirst-client-ffi/Cargo.toml
  crates/edgefirst-client-ffi/src/lib.rs
  crates/edgefirst-client-ffi/uniffi.toml
  crates/edgefirst-client/src/client.rs
  crates/uniffi-bindgen/Cargo.toml
  crates/uniffi-bindgen/src/main.rs
Due: rust

Add CI/CD workflow for mobile SDK builds (Phase 5)
  .github/workflows/mobile.yml
  CHANGELOG.md
Due: none

fix: resolve CI failures for test_auth_workflow and mobile SDK
  .github/workflows/mobile.yml
  Cargo.toml
  crates/edgefirst-cli/tests/cli.rs
Due: none

chore: update Cargo.lock with fslock dependency for test file locking
  Cargo.lock
Due: none

debug: disable caching and add debugging for UniFFI binding generation
  .github/workflows/mobile.yml
Due: none

debug: add uniffi-bindgen version and verbose error output
  .github/workflows/mobile.yml
Due: none

debug: add binary info and RUST_BACKTRACE for uniffi-bindgen
  .github/workflows/mobile.yml
Due: none

debug: add --crate option and library inspection for uniffi-bindgen
  .github/workflows/mobile.yml
Due: none

fix: disable strip for edgefirst-client-ffi to preserve UniFFI metadata
  .github/workflows/mobile.yml
  Cargo.toml
Due: none

fix: update Swift SDK workflow to use correct UniFFI-generated filenames
  .github/workflows/mobile.yml
Due: none

fix: optimize test serialization with nextest test groups
  .config/nextest.toml
  crates/edgefirst-cli/tests/cli.rs
Due: none

refactor: merge nightly formatting check into test workflow
  .github/workflows/nightly.yml
  .github/workflows/test.yml
  artifacts/kotlin/ai/edgefirst/client/edgefirst_client_ffi.kt
Due: none

chore: add artifacts/ to gitignore and remove accidentally committed files
  .gitignore
  artifacts/kotlin/ai/edgefirst/client/edgefirst_client_ffi.kt
Due: none

EDGEAI-1017: add Mobile SDK for Android and iOS/macOS
  .github/workflows/mobile.yml
  .github/workflows/release.yml
  ANDROID.md
  APPLE.md
  README.md
  crates/edgefirst-client-ffi/Cargo.toml
  crates/edgefirst-client-ffi/uniffi.toml
Due: rust

EDGEAI-1017: prepare v2.6.0 release
  .github/workflows/mobile.yml
  CHANGELOG.md
  CLI.md
  Cargo.lock
  Cargo.toml
  crates/edgefirst-cli/tests/cli.rs
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/src/lib.rs
Due: rust, python

fix: release workflow and mobile SDK naming for v2.6.1
  .github/workflows/mobile.yml
  .github/workflows/release.yml
  ANDROID.md
  APPLE.md
  CHANGELOG.md
  CLI.md
  Cargo.lock
  Cargo.toml
  README.md
  crates/edgefirst-client-py/edgefirst_client.pyi
Due: rust, python

refactor: optimize release workflow to reuse CI artifacts for v2.6.2
  .github/workflows/mobile.yml
  .github/workflows/release.yml
  .github/workflows/sbom.yml
  CHANGELOG.md
  CLI.md
  Cargo.lock
  Cargo.toml
Due: none

fix: flatten wheel directory structure before PyPI publish
  .github/workflows/release.yml
Due: none

fix: clarify server selection priority for --server parameter
  CHANGELOG.md
  CLI.md
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/src/client.rs
Due: rust, python

chore: prepare v2.6.3 release with version-check target
  CHANGELOG.md
  CLI.md
  Cargo.lock
  Cargo.toml
  Makefile
Due: none

fix: bundle CLI binary in Python wheel for v2.6.4
  .github/workflows/build.yml
  CHANGELOG.md
  CLI.md
  Cargo.lock
  Cargo.toml
Due: none

feat: add Swift Package Manager support for iOS/macOS SDK
  .github/workflows/mobile.yml
  .github/workflows/release.yml
  .gitignore
  APPLE.md
  Makefile
  Package.swift
  swift/EdgeFirstClient.swift
Due: none

feat: add Swift SDK tests with coverage reporting
  .github/workflows/mobile.yml
  .github/workflows/test.yml
  .gitignore
  Cargo.lock
  Makefile
  Package.swift
  crates/edgefirst-client-ffi/Cargo.toml
  crates/edgefirst-client-ffi/src/lib.rs
  sonar-project.properties
  swift/EdgeFirstClient.swift
  swift/EdgeFirstClientTests/ClientTests.swift
  swift/EdgeFirstClientTests/DatasetTests.swift
  swift/EdgeFirstClientTests/ExperimentTests.swift
  swift/EdgeFirstClientTests/ProjectTests.swift
  swift/EdgeFirstClientTests/TestConfig.swift
Due: rust

fix: remove heredoc that caused YAML syntax error in mobile.yml
  .github/workflows/mobile.yml
Due: none

style: apply cargo fmt to FFI lib
  crates/edgefirst-client-ffi/src/lib.rs
Due: rust

fix: use PR head commit for cross-workflow check lookups
  .github/workflows/mobile.yml
Due: none

Path conditions:
  rust: any of: crates/, but not: **/*.md, **/test*.py, **/*_test.rs, **/tests/**, testdata/**, examples/**
  python: any of: crates/edgefirst-client-py/, but not: **/*.md, **/test*.py, **/*_test.rs, **/tests/**, testdata/**, examples/**
