Repository EdgeFirstAI/client: changes, and which Codecov flags are due for each by the changed paths.
All: rust, python

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 1%
        base: auto

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  rust:
    paths:
      - crates/
    carryforward: false
  python:
    paths:
      - crates/edgefirst-client-py/
    carryforward: false

ignore:
  - "**/*.md"
  - "**/test*.py"
  - "**/*_test.rs"
  - "**/tests/**"
  - "testdata/**"
  - "examples/**"

Add GLIBC verification steps to CI/CD workflows
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: none

Update CHANGELOG.md for 2.3.0 release
  CHANGELOG.md
Due: none

Release 2.3.0 Preparations
  Cargo.lock
  Cargo.toml
Due: none

Add dataset and annotation set CRUD operations with Python bindings
  CHANGELOG.md
  Cargo.lock
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/Cargo.toml
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/src/dataset.rs
  crates/edgefirst-client/src/lib.rs
  examples/coco.py
  examples/download.py
  requirements.txt
  test.py
Due: rust, python

Add dataset and annotation set CRUD APIs with CLI commands
  .github/copilot-instructions.md
  .github/workflows/release.yml
  .gitignore
  CHANGELOG.md
  CLI.md
  CONTRIBUTING.md
  Cargo.lock
  README.md
  crates/edgefirst-cli/Cargo.toml
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-cli/tests/cli.rs
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/src/client.rs
Due: rust, python

Prepare release 2.3.1
  CHANGELOG.md
  CLI.md
Due: none

Release 2.3.1 Preparations
  Cargo.lock
  Cargo.toml
Due: none

Eliminate all unwraps and improve error handling
  CHANGELOG.md
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/src/dataset.rs
  crates/edgefirst-client/src/error.rs
  crates/edgefirst-client/src/lib.rs
Due: rust

Suppress clippy type_complexity warning in test helper
  crates/edgefirst-client/src/lib.rs
Due: rust

Reduce cognitive complexity with parallel execution helper
  .gitignore
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/src/dataset.rs
Due: rust

Update GitHub Actions to latest versions with SHA pinning
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

Document SonarCloud findings export workflow
  .github/copilot-instructions.md
  CONTRIBUTING.md
Due: none

Fix SonarCloud export command to include project key
  .github/copilot-instructions.md
  CONTRIBUTING.md
Due: none

Refactor main.rs: extract command handlers to reduce complexity
  crates/edgefirst-cli/src/main.rs
Due: rust

Fix redundant string conversion in dataset.rs
  crates/edgefirst-client/src/dataset.rs
Due: rust

Add comprehensive Python API to Parameter class
  CHANGELOG.md
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
  test_parameter.py
Due: rust, python

Checkpoint from VS Code for coding agent session
  sonar.py
Due: none

Clean up SonarCloud integration documentation and code
  .github/copilot-instructions.md
  CONTRIBUTING.md
  SONAR_INTEGRATION.md
  sonar.py
Due: none

Ignore coverage of sonar.py which is a development script
  sonar-project.properties
  sonar.py
Due: none

Add AGENTS.md and standardize Python formatting with autopep8
  .github/copilot-instructions.md
  AGENTS.md
  CHANGELOG.md
  CONTRIBUTING.md
  Cargo.toml
  README.md
  crates/edgefirst-cli/Cargo.toml
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/pyproject.toml
  crates/edgefirst-client/Cargo.toml
  examples/download.py
  requirements.txt
  sonar.py
  test.py
  test_parameter.py
Due: rust, python

Removing copilots-instructions.md as contents are migrated to AGENTS.md
  .github/copilot-instructions.md
Due: none

Fix Python test syntax and improve coverage workflow
  AGENTS.md
  CONTRIBUTING.md
  test.py
Due: none

Fix multi-line f-string syntax errors in test.py
  test.py
Due: none

Fix SonarCloud issues in Python test and example code
  examples/download.py
  test_parameter.py
Due: none

Reduce cognitive complexity in test_deer_dataset_roundtrip
  test.py
Due: none

Reduce cognitive complexity in main.rs CLI functions
  crates/edgefirst-cli/src/main.rs
Due: rust

Refactor code to resolve SonarCloud cognitive complexity issues
  .gitignore
  crates/edgefirst-cli/tests/cli.rs
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/src/dataset.rs
Due: rust

Refactor handle_upload_dataset to reduce cognitive complexity
  crates/edgefirst-cli/src/main.rs
Due: rust

Refactor FetchContext to reduce parameters and consolidate label types to u64
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-client/src/client.rs
Due: rust

Add comprehensive internal documentation to complex functions
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-client/src/client.rs
Due: rust

Reorganize test suite into focused modules
  AGENTS.md
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/src/lib.rs
  test/__init__.py
  test/test_advanced.py
  test/test_client.py
  test/test_coco.py
  test/test_datasets.py
  test/test_experiments.py
  test/test_parameter.py
  test_parameter.py
Due: rust, python

Add ID tests, deprecate uid properties, add error tests
  CHANGELOG.md
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/src/error.rs
  test/test_ids.py
Due: rust, python

Remove uid() methods from Rust, add tests, update docs
  .gitignore
  AGENTS.md
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-client/src/api.rs
  crates/edgefirst-client/src/dataset.rs
  crates/edgefirst-client/src/lib.rs
  test/test_client.py
  test/test_datasets.py
Due: rust

Improve test coverage and fix CI/CD workflow
  .github/workflows/test.yml
  AGENTS.md
  Cargo.lock
  Cargo.toml
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/src/api.rs
  crates/edgefirst-client/src/dataset.rs
  crates/edgefirst-client/src/error.rs
Due: rust, python

Migrate CI/CD from nightly to stable Rust
  .github/workflows/test.yml
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-client/src/api.rs
Due: rust

Refactor Arrow annotation parsing to eliminate type complexity
  CHANGELOG.md
  crates/edgefirst-cli/src/main.rs
Due: rust

Expand Deer dataset roundtrip coverage
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-client-py/edgefirst_client.pyi
  test/__init__.py
  test/test_datasets.py
  test/test_ids.py
Due: rust, python

Update samples.populate2 API with corrected annotation serialization
  CHANGELOG.md
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-client/examples/populate_with_circle.rs
  crates/edgefirst-client/src/api.rs
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/src/dataset.rs
  test/test_datasets.py
Due: rust

Fix formatting to pass CI checks
  crates/edgefirst-client/examples/populate_with_circle.rs
  crates/edgefirst-client/src/dataset.rs
Due: rust

Change formatting check to warning instead of build failure
  .github/workflows/test.yml
Due: none
