Repository EdgeFirstAI/client: changes, and which Codecov flags are due for each by the changed paths.
All: rust, python

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 1%
        base: auto

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  rust:
    paths:
      - crates/
    carryforward: false
  python:
    paths:
      - crates/edgefirst-client-py/
    carryforward: false

ignore:
  - "**/*.md"
  - "**/test*.py"
  - "**/*_test.rs"
  - "**/tests/**"
  - "testdata/**"
  - "examples/**"

Pin Rust stable version to 1.90 for CI/CD consistency
  .github/workflows/test.yml
Due: none

Separate nightly and stable Rust workflows
  .github/workflows/build.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

Added DATASET_FORMAT.md with detailed specification of the EdgeFirst Dataset Format
  DATASET_FORMAT.md
Due: none

Updated DATASET_FORMAT.md for 2025.10 specification which will not break backwards compatibility.
  DATASET_FORMAT.md
Due: none

Fix annotation serialization and test infrastructure
  .gitignore
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  DATASET_FORMAT.md
  crates/edgefirst-cli/Cargo.toml
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-cli/tests/cli.rs
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/Cargo.toml
  crates/edgefirst-client/examples/populate_with_circle.rs
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/src/dataset.rs
  crates/edgefirst-client/src/lib.rs
  requirements.txt
  test/fixtures.py
  test/test_advanced.py
  test/test_coco.py
  test/test_datasets.py
  test/test_deer_annotations_raw.py
Due: rust, python

Refactor: Improve test infrastructure and expose mask conversion API
  CHANGELOG.md
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-cli/tests/cli.rs
  crates/edgefirst-client/src/dataset.rs
  crates/edgefirst-client/src/lib.rs
Due: rust

Refactor: Extract testable logic from dataset.rs
  crates/edgefirst-client/src/dataset.rs
Due: rust

Add TEST_DATASET_TYPES environment variable for annotation type filtering
  AGENTS.md
  crates/edgefirst-cli/tests/cli.rs
  test/fixtures.py
  test/test_datasets.py
Due: none

Setting TEST_DATASET_TYPES=box2d while mask performance issues are sorted out.
  .github/workflows/test.yml
  crates/edgefirst-client/src/dataset.rs
  test/test_deer_annotations_raw.py
Due: rust

Added GitHub Actions step to delete Junk from the test.yml file which was failing with out of disk space errors.
  .github/workflows/test.yml
Due: none

Updated test.yml to use an alternative junk remover.
  .github/workflows/test.yml
Due: none

SonarCloud updates to configure test files so that they are ignored from analysis.
  sonar-project.properties
Due: none

Release 2.4.0 Preparations
  CHANGELOG.md
  CLI.md
Due: none

Release 2.4.0 Preparations
  Cargo.lock
  Cargo.toml
Due: none

Updating Github Actions image references.
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

Internal: GitHub Actions workflow fixes and enhanced retry logging
  CHANGELOG.md
  crates/edgefirst-cli/tests/cli.rs
  crates/edgefirst-client/src/client.rs
Due: rust

Release 2.4.1 Preparations
  Cargo.lock
  Cargo.toml
Due: none

Corrected Client with_token handler to parse server name using the server field instead of the database field.
  crates/edgefirst-client/src/client.rs
Due: rust

Updated dependencies and formatting updates.
  Cargo.lock
  Cargo.toml
  crates/edgefirst-client/src/client.rs
Due: rust

Implement URL-based retry classification for intelligent error handling
  AGENTS.md
  CHANGELOG.md
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-cli/tests/cli.rs
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/src/lib.rs
  crates/edgefirst-client/src/retry.rs
Due: rust

Update PyO3 deprecated APIs and fix GitHub Actions test publishing
  .config/nextest.toml
  .github/workflows/test.yml
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/src/retry.rs
Due: rust, python

Update documentation for compliance and accuracy
  AGENTS.md
  CONTRIBUTING.md
  README.md
Due: none

Update CHANGELOG.md with 2.4.1 release details and JWT parsing fix
  CHANGELOG.md
Due: none

Release 2.4.2 Preparations
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

DE-2298 Fix Python Parameter API - Add Pythonic dict/list access methods
  CHANGELOG.md
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
  test/test_parameter.py
Due: rust, python

Address GitHub Copilot review feedback
  CHANGELOG.md
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
Due: rust, python

Change retry configuration log level from info to debug
  crates/edgefirst-client/src/retry.rs
Due: rust

Configure codecov as informational only, not a quality gate
  .github/workflows/test.yml
  codecov.yml
Due: none

Ignore the tmp folder
  .gitignore
Due: none

Release 2.4.3 Preparations
  Cargo.lock
  Cargo.toml
Due: none

Update CHANGELOG and CLI.md for 2.4.3 release
  CHANGELOG.md
  CLI.md
  release.toml
Due: none

Improve release process documentation in AGENTS.md
  AGENTS.md
Due: none

DE-2303: Add flatten option for dataset downloads
  CHANGELOG.md
  CLI.md
  DATASET_FORMAT.md
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-cli/tests/cli.rs
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/src/client.rs
  test/test_datasets.py
Due: rust, python

Code quality improvements
  crates/edgefirst-cli/src/main.rs
  sonar.py
Due: rust

Update CLI.md
  CLI.md
Due: none

Update crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/edgefirst_client.pyi
Due: rust, python

Update crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/src/client.rs
Due: rust

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update DATASET_FORMAT.md
  DATASET_FORMAT.md
Due: none

DE-2312: Graceful handling of corrupted or expired authentication tokens
  CHANGELOG.md
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-cli/tests/cli.rs
  crates/edgefirst-client/src/client.rs
Due: rust
