Repository EdgeFirstAI/client: changes, and which Codecov flags are due for each by the changed paths.
All: rust, python

fix: allow artifact download regardless of workflow conclusion
  .github/workflows/mobile.yml
Due: none

fix: resolve CI failures in test.yml and mobile.yml
  .github/workflows/mobile.yml
  .github/workflows/test.yml
Due: none

fix: exclude generated Swift from SonarCloud and improve coverage debug
  .github/workflows/test.yml
  sonar-project.properties
Due: none

fix: properly generate Swift coverage and configure SonarCloud
  .github/workflows/test.yml
  sonar-project.properties
Due: none

fix: separate Rust and Swift coverage collection to avoid conflicts
  .github/workflows/test.yml
Due: none

fix: convert Swift coverage paths to relative for SonarCloud
  .github/workflows/test.yml
Due: none

fix: use SonarCloud generic XML format for Swift coverage
  .github/workflows/test.yml
  sonar-project.properties
Due: none

test: expand Swift test coverage based on Python test patterns
  Makefile
  swift/EdgeFirstClientTests/ArtifactTests.swift
  swift/EdgeFirstClientTests/ClientTests.swift
  swift/EdgeFirstClientTests/IDFormatTests.swift
  swift/EdgeFirstClientTests/ParameterTests.swift
  swift/EdgeFirstClientTests/SnapshotTests.swift
  swift/EdgeFirstClientTests/StorageTests.swift
Due: none

test: comprehensive Swift test coverage with createClientWithStorage
  .github/workflows/test.yml
  swift/EdgeFirstClientTests/AnnotationTypeTests.swift
  swift/EdgeFirstClientTests/ArtifactTests.swift
  swift/EdgeFirstClientTests/DatasetTests.swift
  swift/EdgeFirstClientTests/DomainStructTests.swift
  swift/EdgeFirstClientTests/EdgeCaseTests.swift
  swift/EdgeFirstClientTests/EntityTests.swift
  swift/EdgeFirstClientTests/ErrorTests.swift
  swift/EdgeFirstClientTests/FileTypeTests.swift
  swift/EdgeFirstClientTests/IdTypeTests.swift
  swift/EdgeFirstClientTests/SampleTests.swift
  swift/EdgeFirstClientTests/SnapshotTests.swift
  swift/EdgeFirstClientTests/StorageErrorTests.swift
  swift/EdgeFirstClientTests/StorageTests.swift
  swift/EdgeFirstClientTests/TaskInfoTests.swift
Due: none

Enable Swift SDK tests on pull requests
  .github/workflows/mobile.yml
Due: none

chore: prepare v2.7.0 release
  CHANGELOG.md
  CLI.md
  Cargo.lock
  Cargo.toml
Due: none

Fix Swift package update to use PR workflow
  .github/workflows/release.yml
Due: none

chore: prepare v2.7.1 release
  CHANGELOG.md
  CLI.md
  Cargo.lock
  Cargo.toml
Due: none

chore: update Swift package for v2.7.1 release
  Package.swift
  swift-sdk-temp/LICENSE
  swift-sdk-temp/swift/EdgeFirstClient.swift
Due: none

fix: use default GITHUB_TOKEN for PR creation
  .github/workflows/release.yml
Due: none

Skip CI for automated Package.swift updates
  .github/workflows/release.yml
Due: none

Prepare v2.7.2 release
  CHANGELOG.md
  CLI.md
  Cargo.lock
  Cargo.toml
Due: none

automation: update Swift package for v2.7.2 release [skip ci]
  Package.swift
Due: none

Add [skip ci] to PR title for merge commits
  .github/workflows/release.yml
Due: none

DE-2413: Extract server from stored token in Client::new()
  CHANGELOG.md
  crates/edgefirst-client/src/client.rs
  test/test_experiments.py
Due: rust

chore: prepare v2.7.3 release
  CHANGELOG.md
  CLI.md
  Cargo.lock
  Cargo.toml
Due: none

automation: update Swift package for v2.7.3 release [skip ci]
  Package.swift
Due: none

DE-2421: Add COCO dataset format support
  CHANGELOG.md
  Cargo.lock
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/Cargo.toml
  crates/edgefirst-client/src/coco/arrow.rs
  crates/edgefirst-client/src/coco/convert.rs
  crates/edgefirst-client/src/coco/mod.rs
  crates/edgefirst-client/src/coco/reader.rs
  crates/edgefirst-client/src/coco/studio.rs
  crates/edgefirst-client/src/coco/tests.rs
  crates/edgefirst-client/src/coco/types.rs
  crates/edgefirst-client/src/coco/writer.rs
  crates/edgefirst-client/src/error.rs
  crates/edgefirst-client/src/lib.rs
  crates/edgefirst-client/tests/coco_integration.rs
Due: rust, python

DE-2421: Fix polygon NaN separator and RLE validation
  crates/edgefirst-client/src/coco/arrow.rs
  crates/edgefirst-client/src/coco/tests.rs
  crates/edgefirst-client/tests/coco_integration.rs
Due: rust

DE-2421: Complete COCO format CLI and Studio integration
  Cargo.lock
  crates/edgefirst-cli/Cargo.toml
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-cli/tests/cli.rs
  crates/edgefirst-client/src/coco/mod.rs
  crates/edgefirst-client/src/coco/reader.rs
  crates/edgefirst-client/src/coco/studio.rs
  crates/edgefirst-client/src/coco/writer.rs
  test/test_coco_roundtrip.py
  test/test_coco_studio_roundtrip.py
Due: rust

DE-2421: Add Group management API and enhance COCO import
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/Cargo.toml
  crates/edgefirst-client/src/api.rs
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/src/coco/arrow.rs
  crates/edgefirst-client/src/coco/convert.rs
  crates/edgefirst-client/src/coco/mod.rs
  crates/edgefirst-client/src/coco/reader.rs
  crates/edgefirst-client/src/coco/studio.rs
  crates/edgefirst-client/src/coco/tests.rs
  crates/edgefirst-client/src/coco/types.rs
  crates/edgefirst-client/src/coco/verify.rs
  crates/edgefirst-client/src/coco/writer.rs
  crates/edgefirst-client/src/dataset.rs
  crates/edgefirst-client/src/lib.rs
  crates/edgefirst-client/tests/coco_integration.rs
Due: rust, python

DE-2421: Improve COCO module test coverage and reduce complexity
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-client/src/coco/arrow.rs
  crates/edgefirst-client/src/coco/reader.rs
  crates/edgefirst-client/src/coco/studio.rs
  crates/edgefirst-client/src/coco/verify.rs
  crates/edgefirst-client/src/coco/writer.rs
Due: rust

DE-2421: Reduce function parameters and complexity in COCO module
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-client/src/coco/studio.rs
Due: rust

DE-2421: Apply Clippy fixes and refactor COCO update logic
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/src/coco/arrow.rs
  crates/edgefirst-client/src/coco/convert.rs
  crates/edgefirst-client/src/coco/studio.rs
  crates/edgefirst-client/src/coco/types.rs
  crates/edgefirst-client/src/coco/verify.rs
  crates/edgefirst-client/src/coco/writer.rs
Due: rust, python

Release 2.8.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  Package.swift
Due: none

automation: update Swift package for v2.8.0 release [skip ci]
  Package.swift
Due: none

Remove accidentally committed swift-sdk-temp directory
  .gitignore
  swift-sdk-temp/LICENSE
  swift-sdk-temp/swift/EdgeFirstClient.swift
Due: none

DE-2426: Improve upload-dataset performance and fix sensor data handling
  Cargo.lock
  Cargo.toml
  crates/edgefirst-cli/Cargo.toml
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-client-ffi/src/lib.rs
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/Cargo.toml
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/src/coco/arrow.rs
  crates/edgefirst-client/src/coco/studio.rs
  crates/edgefirst-client/src/dataset.rs
  crates/edgefirst-client/src/retry.rs
Due: rust, python

DE-2426: Add Tracy profiler instrumentation with feature flag
  Cargo.lock
  Cargo.toml
  crates/edgefirst-cli/Cargo.toml
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-client/Cargo.toml
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/src/instrument.rs
  crates/edgefirst-client/src/lib.rs
Due: rust

DE-2433: Fix GPS/IMU data serialization for samples.populate API
  crates/edgefirst-client/src/dataset.rs
Due: rust

Address Copilot review feedback and fix Python callback compatibility
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/src/dataset.rs
Due: rust, python

docs: Add comprehensive progress callback documentation
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/src/client.rs
Due: rust, python

Update crates/edgefirst-cli/src/main.rs
  crates/edgefirst-cli/src/main.rs
Due: rust

DE-2442: Add comprehensive profiling instrumentation with trace file support
  Cargo.lock
  Cargo.toml
  crates/edgefirst-cli/Cargo.toml
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-client/Cargo.toml
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/src/instrument.rs
  crates/edgefirst-client/src/lib.rs
Due: rust

DE-2442: Add unified trace file support with extension-based format detection
  Cargo.lock
  Cargo.toml
  crates/edgefirst-cli/Cargo.toml
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-cli/tests/cli.rs
  crates/edgefirst-client/Cargo.toml
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/src/instrument.rs
Due: rust

Path conditions:
  rust: any of: crates/, but not: **/*.md, **/test*.py, **/*_test.rs, **/tests/**, testdata/**, examples/**
  python: any of: crates/edgefirst-client-py/, but not: **/*.md, **/test*.py, **/*_test.rs, **/tests/**, testdata/**, examples/**
