Repository EdgeFirstAI/client: changes, and which Codecov flags are due for each by the changed paths.
All: rust, python

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        base: auto
        informational: true

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  rust:
    paths:
      - crates/
    carryforward: false
  python:
    paths:
      - crates/edgefirst-client-py/
    carryforward: false

ignore:
  - "**/*.md"
  - "**/test*.py"
  - "**/*_test.rs"
  - "**/tests/**"
  - "testdata/**"
  - "examples/**"

docs: document update-dimensions CLI command
  CHANGELOG.md
  CLI.md
  crates/edgefirst-client-py/edgefirst_client.pyi
Due: rust, python

Fix coco-to-arrow dropping unannotated images; sync CLI.md
  CHANGELOG.md
  CLI.md
  Cargo.lock
  Cargo.toml
  crates/edgefirst-client/src/coco/arrow.rs
Due: rust

Fix O(n²) Arrow parsing in upload-dataset
  CHANGELOG.md
  crates/edgefirst-cli/src/main.rs
Due: rust

Pipeline upload-dataset batches and harden transient upload retries
  CHANGELOG.md
  CLI.md
  Cargo.lock
  crates/edgefirst-cli/Cargo.toml
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-client/src/client.rs
Due: rust

Pre-create groups before pipelined upload to avoid creation race
  crates/edgefirst-cli/src/main.rs
Due: rust

ci: upgrade sonarqube-scan-action v7.0.0 -> v8.1.0
  .github/workflows/test.yml
Due: none

automation: update Swift package for v2.10.2 release [skip ci]
  Package.swift
Due: none

upload-dataset worker-pool concurrency and label pre-creation; release 2.10.3
  CHANGELOG.md
  CLI.md
  Cargo.lock
  Cargo.toml
  crates/edgefirst-cli/Cargo.toml
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/src/lib.rs
Due: rust

automation: update Swift package for v2.10.3 release [skip ci]
  Package.swift
Due: none

DE-2693: The docstring for set_stages said Dict[str, str] but header and Rust use [List[Tuple[str, str]]] - fix to match function signature
  crates/edgefirst-client-py/edgefirst_client.pyi
Due: rust, python

DE-2693: Revert docstring to x and y for `class Box2d` and fix function signature to `x: float, y: float` to match Rust implementation.
  crates/edgefirst-client-py/edgefirst_client.pyi
Due: rust, python

Add semantic segmentation support for COCO Stuff datasets
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-client/src/coco/arrow.rs
  crates/edgefirst-client/src/coco/convert.rs
  crates/edgefirst-client/src/coco/tests.rs
  examples/coco_semseg.py
Due: rust

Update workspace and Python dependencies for 2026-06-12.
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-client/Cargo.toml
  crates/edgefirst-client/src/coco/arrow.rs
  requirements.txt
Due: rust

Fix cargo audit and complete hygiene dependency upgrades.
  .cargo/audit.toml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/edgefirst-cli/tests/cli.rs
  crates/edgefirst-client-ffi/Cargo.toml
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/Cargo.toml
  crates/edgefirst-client/src/lib.rs
  crates/edgefirst-client/src/mask.rs
Due: rust, python

Fix label_index reshuffling on snapshot upload (DE-2709).
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-cli/tests/cli.rs
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/src/coco/studio.rs
  crates/edgefirst-client/src/dataset.rs
  test/test_snapshots.py
Due: rust, python

Address PR feedback: stable Rust label API and fix Python bindings.
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/src/coco/studio.rs
  crates/edgefirst-client/src/dataset.rs
Due: rust, python

Align additional pyi stubs with runtime Python signatures.
  crates/edgefirst-client-py/edgefirst_client.pyi
Due: rust, python

Fix label_index roundtrip test download-dataset CLI invocation.
  test/test_snapshots.py
Due: none

Address PR #49 review: harden decode_leb128, add tests, fix docs
  CHANGELOG.md
  crates/edgefirst-client/src/coco/arrow.rs
  crates/edgefirst-client/src/coco/convert.rs
  crates/edgefirst-client/src/coco/tests.rs
  examples/coco_semseg.py
Due: rust

Ignore .mcp.json
  .gitignore
Due: none

chore: prepare v2.11.0 release
  CHANGELOG.md
  CLI.md
  Cargo.lock
  Cargo.toml
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-cli/tests/cli.rs
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/src/client.rs
  swift/EdgeFirstClientTests/IDFormatTests.swift
Due: rust, python

Fix u64 overflow and temp-index occupancy in two-pass label assignment
  crates/edgefirst-client/src/client.rs
Due: rust

automation: update Swift package for v2.11.0 release [skip ci]
  Package.swift
Due: none

Add Python API tutorial suite with notebooks (DE-2762)
  CHANGELOG.md
  CLI.md
  CONTRIBUTING.md
  README.md
  crates/edgefirst-client-py/edgefirst_client.pyi
  examples/01_authentication.ipynb
  examples/01_authentication.py
  examples/02_explore_dataset.ipynb
  examples/02_explore_dataset.py
  examples/03_fetch_annotations.ipynb
  examples/03_fetch_annotations.py
  examples/04_polars_dataframe.ipynb
  examples/04_polars_dataframe.py
  examples/05_download_dataset.ipynb
  examples/05_download_dataset.py
  examples/06_create_annotations.ipynb
  examples/06_create_annotations.py
  examples/07_manage_labels.ipynb
  examples/07_manage_labels.py
  examples/README.md
  examples/__init__.py
  examples/coco.py
  examples/download.py
  requirements.in
  requirements.txt
Due: rust, python

Fix CI: refresh dependencies and restore hash-locked requirements.
  CHANGELOG.md
  Cargo.lock
  crates/edgefirst-client-py/edgefirst_client.pyi
  requirements.in
  requirements.txt
Due: rust, python

Fix notebook path bootstrap for Jupyter (PR feedback).
  examples/01_authentication.ipynb
  examples/02_explore_dataset.ipynb
  examples/03_fetch_annotations.ipynb
  examples/04_polars_dataframe.ipynb
  examples/05_download_dataset.ipynb
  examples/06_create_annotations.ipynb
  examples/07_manage_labels.ipynb
  examples/_path.py
Due: none

removed function call for username
  examples/01_authentication.ipynb
  examples/01_authentication.py
Due: none

adjusting back for ipynb original
  examples/01_authentication.ipynb
Due: none

Fix CI test discovery and address PR #54 example feedback
  CHANGELOG.md
  examples/03_fetch_annotations.ipynb
  examples/03_fetch_annotations.py
  examples/05_download_dataset.ipynb
  examples/05_download_dataset.py
  examples/06_create_annotations.ipynb
  examples/06_create_annotations.py
  examples/README.md
  examples/requirements.txt
  test/test_examples.py
Due: none

Document YOLO flattening trade-off in 05 download example
  examples/05_download_dataset.ipynb
  examples/05_download_dataset.py
  examples/README.md
Due: none

Fix edgefirst-client CLI bugs from documentation PR #117 review
  CHANGELOG.md
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-client/src/api.rs
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/src/dataset.rs
  crates/edgefirst-client/src/error.rs
  crates/edgefirst-client/src/lib.rs
Due: rust

Fix Python binding for optional snapshot restore date
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
Due: rust, python

List the complete accepted set in invalid --types error
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-client/src/dataset.rs
  crates/edgefirst-client/src/error.rs
Due: rust

Add unit + wiremock tests for the PR #55 conformance fixes
  crates/edgefirst-client/src/api.rs
  crates/edgefirst-client/src/dataset.rs
  crates/edgefirst-client/src/error.rs
  crates/edgefirst-client/tests/wiremock_coverage.rs
Due: rust

Emit organization funds/total warning to stderr
  crates/edgefirst-cli/src/main.rs
Due: rust

Release 2.11.1
  CHANGELOG.md
  CLI.md
  Cargo.lock
  Cargo.toml
Due: none

automation: update Swift package for v2.11.1 release [skip ci]
  Package.swift
  swift/EdgeFirstClient.swift
Due: none

Add training/validation session delete and update APIs
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/tests/wiremock_coverage.rs
Due: rust

Add trainer and validator schema query APIs
  crates/edgefirst-client/src/api.rs
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/src/lib.rs
  crates/edgefirst-client/tests/wiremock_coverage.rs
Due: rust

Add training session launch and dataset tag APIs
  crates/edgefirst-client/src/api.rs
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/src/lib.rs
  crates/edgefirst-client/tests/wiremock_coverage.rs
Due: rust
