Repository EdgeFirstAI/client: changes, and which Codecov flags are due for each by the changed paths.
All: rust, python

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        base: auto
        informational: true

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  rust:
    paths:
      - crates/
    carryforward: false
  python:
    paths:
      - crates/edgefirst-client-py/
    carryforward: false

ignore:
  - "**/*.md"
  - "**/test*.py"
  - "**/*_test.rs"
  - "**/tests/**"
  - "testdata/**"
  - "examples/**"

DE-2442: Remove Tracy, fix Perfetto debug annotations, enhance instrumentation
  Cargo.lock
  Cargo.toml
  README.md
  crates/edgefirst-cli/Cargo.toml
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-client/Cargo.toml
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/src/instrument.rs
Due: rust

DE-2442: Add RPC request/response as span fields for Perfetto
  crates/edgefirst-client/src/client.rs
Due: rust

DE-2442: Address PR copilot review feedback
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-client/src/client.rs
Due: rust

DE-2442: Enhance profiling documentation with security notes and build details
  README.md
Due: none

Switch from nightly to stable Rust toolchain and update dependencies
  .github/WORKFLOW_ARCHITECTURE.md
  .github/copilot-instructions.md
  .github/workflows/test.yml
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  Makefile
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-cli/tests/cli.rs
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/src/coco/studio.rs
  crates/edgefirst-client/src/coco/tests.rs
  crates/edgefirst-client/src/coco/verify.rs
  crates/edgefirst-client/src/dataset.rs
  crates/edgefirst-client/src/error.rs
  crates/edgefirst-client/src/format.rs
  crates/edgefirst-client/tests/coco_integration.rs
  rustfmt.toml
Due: rust, python

EDGEAI-2492: Update DATASET_FORMAT.md for 2026.04 schema
  DATASET_FORMAT.md
Due: none

EDGEAI-2492: Address Copilot review feedback on DATASET_FORMAT.md
  DATASET_FORMAT.md
Due: none

EDGEAI-2492: Remove superseded AGENTS.md and apply code formatting
  AGENTS.md
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/src/instrument.rs
  swift/EdgeFirstClientTests/ArtifactTests.swift
  swift/EdgeFirstClientTests/DomainStructTests.swift
  swift/EdgeFirstClientTests/EntityTests.swift
  swift/EdgeFirstClientTests/FileTypeTests.swift
Due: rust, python

EDGEAI-2492: Add LVIS dataset support and fix label_index semantics
  CHANGELOG.md
  DATASET_FORMAT.md
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-client/src/coco/arrow.rs
  crates/edgefirst-client/src/coco/mod.rs
  crates/edgefirst-client/src/coco/reader.rs
  crates/edgefirst-client/src/coco/studio.rs
  crates/edgefirst-client/src/coco/tests.rs
  crates/edgefirst-client/src/coco/types.rs
  crates/edgefirst-client/src/coco/verify.rs
  crates/edgefirst-client/src/coco/writer.rs
  crates/edgefirst-client/src/dataset.rs
Due: rust

Update CI to Rust 1.94 and upgrade all GitHub Actions
  .github/workflows/build.yml
  .github/workflows/mobile.yml
  .github/workflows/release.yml
  .github/workflows/sbom.yml
  .github/workflows/studio.yml
  .github/workflows/test.yml
Due: none

Revert lewagon/wait-on-check-action to v1.3.4
  .github/workflows/mobile.yml
  .github/workflows/release.yml
Due: none

Fix security audit and Swift test compilation failures
  Cargo.lock
  swift/EdgeFirstClientTests/FileTypeTests.swift
Due: none

Fix delete_dataset deserialization and update schema test for 2026.04
  crates/edgefirst-client/src/client.rs
  test/test_coco.py
Due: rust

Fix cargo-llvm-cov coverage instrumentation in CI
  .github/workflows/test.yml
Due: none

Fix profraw version mismatch in Swift coverage generation
  .github/workflows/test.yml
Due: none

Fix Swift coverage: unset RUSTC_WRAPPER and revert to xcrun LLVM tools
  .github/workflows/test.yml
Due: none

Add png crate dependency for raster mask encoding
  crates/edgefirst-client/Cargo.toml
  crates/edgefirst-client/src/client.rs
Due: rust

Add MaskData struct with PNG encode/decode for raster masks
  crates/edgefirst-client/src/lib.rs
  crates/edgefirst-client/src/mask.rs
Due: rust

Rename Mask→Polygon struct, split AnnotationType, iscrowd→Boolean
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-cli/tests/cli.rs
  crates/edgefirst-client-ffi/src/lib.rs
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/src/coco/arrow.rs
  crates/edgefirst-client/src/coco/convert.rs
  crates/edgefirst-client/src/coco/mod.rs
  crates/edgefirst-client/src/coco/studio.rs
  crates/edgefirst-client/src/coco/tests.rs
  crates/edgefirst-client/src/dataset.rs
  crates/edgefirst-client/src/lib.rs
Due: rust, python

Add score fields, MaskData, and Timing struct to Annotation/Sample
  crates/edgefirst-client/src/dataset.rs
  crates/edgefirst-client/src/lib.rs
  crates/edgefirst-client/src/mask.rs
Due: rust

Update samples_dataframe() for 2026.04 schema
  Cargo.toml
  crates/edgefirst-client/src/coco/arrow.rs
  crates/edgefirst-client/src/dataset.rs
Due: rust

COCO import: polygon column + RLE→PNG mask encoding in coco_to_arrow
  crates/edgefirst-client/src/coco/arrow.rs
  crates/edgefirst-client/src/coco/convert.rs
  crates/edgefirst-client/src/coco/mod.rs
  crates/edgefirst-client/src/coco/reader.rs
  crates/edgefirst-client/src/coco/studio.rs
  crates/edgefirst-client/src/coco/tests.rs
  crates/edgefirst-client/src/coco/types.rs
  crates/edgefirst-client/src/coco/writer.rs
Due: rust

arrow_to_coco: read polygon column, 2025.10 compat, PNG mask→COCO RLE export
  crates/edgefirst-client/src/coco/arrow.rs
  crates/edgefirst-client/src/coco/convert.rs
  crates/edgefirst-client/src/coco/mod.rs
  crates/edgefirst-client/src/coco/tests.rs
  crates/edgefirst-client/src/coco/writer.rs
Due: rust

Add 'edgefirst migrate' CLI command for 2025.10→2026.04 Arrow migration
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-cli/tests/cli.rs
Due: rust

Update Python bindings: polygon rename, MaskData, scores, timing
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
Due: rust, python

Update FFI bindings: add iscrowd, scores, mask, timing fields
  crates/edgefirst-client-ffi/src/lib.rs
  swift/EdgeFirstClientTests/AnnotationTypeTests.swift
  swift/EdgeFirstClientTests/EdgeCaseTests.swift
  swift/EdgeFirstClientTests/SampleTests.swift
Due: rust

EDGEAI-2492: Update DATASET_FORMAT.md for 2026.04 phase 2
  DATASET_FORMAT.md
Due: none

EDGEAI-2492: Add integration tests and update CHANGELOG for 2026.04 Phase 2
  CHANGELOG.md
  crates/edgefirst-client/src/coco/tests.rs
Due: rust

Address review findings: eliminate panics, fix bugs, add validation
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-client-ffi/src/lib.rs
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/src/coco/arrow.rs
  crates/edgefirst-client/src/coco/convert.rs
  crates/edgefirst-client/src/coco/tests.rs
  crates/edgefirst-client/src/dataset.rs
  crates/edgefirst-client/src/mask.rs
Due: rust, python

Fix Python test imports (Mask→Polygon) and List(null) cast error
  crates/edgefirst-client/src/dataset.rs
  test/test_coco_studio_roundtrip.py
  test/test_datasets.py
Due: rust

Fix Swift Polygon name collision with ApplicationServices.Polygon
  swift/EdgeFirstClientTests/AnnotationTypeTests.swift
  swift/EdgeFirstClientTests/EdgeCaseTests.swift
Due: none

Address remaining PR review comments
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-client-ffi/src/lib.rs
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/src/mask.rs
Due: rust, python

Fix polygon List(List(Float32)) dtype mismatch with mixed null/data rows
  crates/edgefirst-client/src/dataset.rs
Due: rust

Remove deprecated APIs: annotations_dataframe, object_reference aliases
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/src/dataset.rs
  crates/edgefirst-client/src/format.rs
  crates/edgefirst-client/src/lib.rs
Due: rust, python

Fix Python tests: mask→polygon rename, column drop rule assertions
  test/test_coco.py
  test/test_coco_studio_roundtrip.py
  test/test_datasets.py
Due: none

Fix Polars Python API: df.column() → df.get_column()
  test/test_coco.py
Due: none

Fix duplicate Polygon typealias across Swift test files
  swift/EdgeFirstClientTests/AnnotationTypeTests.swift
Due: none

Fix remaining PR review issues: decompression bomb guard, FFI error handling, polygon-only export
  crates/edgefirst-client-ffi/src/lib.rs
  crates/edgefirst-client/src/coco/studio.rs
  crates/edgefirst-client/src/mask.rs
  test/test_datasets.py
Due: rust

Fix doc comment (29→33), Migrate cfg guard, trivial assertion
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-client/src/mask.rs
  test/test_coco.py
Due: rust

Expand Python API: snapshot progress, new methods, pyi audit
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
Due: rust, python
