Repository EdgeFirstAI/client: changes, and which Codecov flags are due for each by the changed paths.
All: rust, python

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        base: auto
        informational: true

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  rust:
    paths:
      - crates/
    carryforward: false
  python:
    paths:
      - crates/edgefirst-client-py/
    carryforward: false

ignore:
  - "**/*.md"
  - "**/test*.py"
  - "**/*_test.rs"
  - "**/tests/**"
  - "testdata/**"
  - "examples/**"

Add missing doc comment to save_token in lib.rs
  crates/edgefirst-client-py/src/lib.rs
Due: rust, python

Fix PR review: safe thread join, typed callback fallback, macOS path
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
Due: rust, python

Add progress to Snapshot.download(), document timeout and status
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
Due: rust, python

Add Python convenience methods on object instances
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
Due: rust, python

fix pyi docs: actionable fallback in ValidationSession, Dataset.groups in assign_group
  crates/edgefirst-client-py/edgefirst_client.pyi
Due: rust, python

changelog: document Python API convenience methods expansion
  CHANGELOG.md
Due: none

Fix PR review round 2: propagate callback errors, URL encoding, pyi fixes
  crates/edgefirst-client-py/Cargo.toml
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
Due: rust, python

chore: update Cargo.lock for url dependency in edgefirst-client-py
  Cargo.lock
Due: none

Fix object_id indentation in JSON example
  DATASET_FORMAT.md
Due: none

chore: prepare v2.9.0 release
  CHANGELOG.md
  CLI.md
  Cargo.lock
  Cargo.toml
Due: none

automation: update Swift package for v2.9.0 release [skip ci]
  Package.swift
  swift/EdgeFirstClient.swift
Due: none

chore: prepare v2.9.1 release
  CHANGELOG.md
  CLI.md
  Cargo.lock
  Cargo.toml
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/src/retry.rs
Due: rust, python

fix: address PR review comments on bulk transfer robustness
  crates/edgefirst-client/src/client.rs
Due: rust

fix: stream download_artifact and download_checkpoint directly to disk
  CHANGELOG.md
  crates/edgefirst-client/src/client.rs
Due: rust

fix: flush file write buffer and update bulk_http field doc
  crates/edgefirst-client/src/client.rs
Due: rust

automation: update Swift package for v2.9.1 release [skip ci]
  Package.swift
Due: none

Add full TypeID conversion support across Rust, Python, and Swift
  crates/edgefirst-client-ffi/src/lib.rs
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/src/api.rs
  swift/EdgeFirstClientTests/IDFormatTests.swift
  test/test_ids.py
Due: rust, python

Fix PR review feedback: correct docstring values and exception types
  crates/edgefirst-client-py/edgefirst_client.pyi
  test/test_ids.py
Due: rust, python

chore: prepare v2.9.2 release
  CHANGELOG.md
  CLI.md
  Cargo.lock
  Cargo.toml
  crates/edgefirst-client-py/edgefirst_client.pyi
Due: rust, python

Fix ValidationSession docstrings to match Client API signatures
  crates/edgefirst-client-py/edgefirst_client.pyi
Due: rust, python

automation: update Swift package for v2.9.2 release [skip ci]
  Package.swift
  swift/EdgeFirstClient.swift
Due: none

Fix release workflow race condition with check discovery
  .github/workflows/release.yml
Due: none

Fix TaskInfo deserialization when progress field is missing
  CHANGELOG.md
  CLI.md
  Cargo.lock
  Cargo.toml
  crates/edgefirst-client/src/api.rs
Due: rust

automation: update Swift package for v2.9.3 release [skip ci]
  Package.swift
Due: none

Add dataset versioning support
  CHANGELOG.md
  CLI.md
  Cargo.lock
  TESTING.md
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-cli/tests/cli.rs
  crates/edgefirst-client-ffi/Cargo.toml
  crates/edgefirst-client-ffi/src/lib.rs
  crates/edgefirst-client-py/Cargo.toml
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/examples/populate_with_circle.rs
  crates/edgefirst-client/src/api.rs
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/src/coco/studio.rs
  crates/edgefirst-client/src/dataset.rs
  crates/edgefirst-client/src/lib.rs
  test/test_versioning.py
Due: rust, python

Address PR review feedback
  CLI.md
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/src/client.rs
Due: rust, python

Fix CI failures: doc test and CLI test_version
  crates/edgefirst-cli/tests/cli.rs
  crates/edgefirst-client/src/client.rs
Due: rust

Fix CI test failures on test server
  crates/edgefirst-client/src/api.rs
  test/test_versioning.py
Due: rust

EDGEAI-1198: Fix LVIS coco-to-arrow conversion
  crates/edgefirst-client/src/coco/reader.rs
  crates/edgefirst-client/src/coco/types.rs
  crates/edgefirst-client/src/dataset.rs
Due: rust

Fix polygon upload by restoring "mask" wire key for samples.populate2
  crates/edgefirst-client/src/dataset.rs
Due: rust

Release v2.9.4
  CHANGELOG.md
  CLI.md
  Cargo.lock
  Cargo.toml
Due: none

Address PR review: restore doc comment, sanitise LVIS path derivation
  crates/edgefirst-client/src/coco/reader.rs
Due: rust

Update rustls-webpki to 0.103.12 to clear RUSTSEC-2026-0098/0099
  CHANGELOG.md
  Cargo.lock
Due: none

Add cargo audit to pre-commit and pre-release make targets
  CHANGELOG.md
  Makefile
Due: none

automation: update Swift package for v2.9.4 release [skip ci]
  Package.swift
Due: none

EDGEAI-1198: Preserve annotation IDs across Arrow ↔ COCO round-trip
  CHANGELOG.md
  crates/edgefirst-client/src/coco/arrow.rs
  crates/edgefirst-client/src/coco/reader.rs
  crates/edgefirst-client/src/coco/writer.rs
  crates/edgefirst-client/src/dataset.rs
Due: rust

EDGEAI-1198: Use saturating_add when advancing the annotation ID counter
  crates/edgefirst-client/src/coco/writer.rs
Due: rust

Update rustls-webpki to 0.103.13 to clear RUSTSEC-2026-0104
  CHANGELOG.md
  Cargo.lock
Due: none

Update android-actions/setup-android to v4.0.1
  .github/workflows/mobile.yml
Due: none

chore: prepare v2.9.5 release
  CHANGELOG.md
  CLI.md
  Cargo.lock
  Cargo.toml
  Package.swift
  crates/edgefirst-client/src/coco/writer.rs
Due: rust
