Repository EdgeFirstAI/client: changes, and which Codecov flags are due for each by the changed paths.
All: rust, python

Add CLI commands for session management and schemas
  CLI.md
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-cli/tests/cli.rs
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/tests/wiremock_coverage.rs
Due: rust

Add Python bindings for session management and schemas
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
  test/__init__.py
  test/test_experiments.py
Due: rust, python

Add FFI bindings for session management and schemas
  crates/edgefirst-client-ffi/src/lib.rs
  swift/EdgeFirstClientTests/SchemaTests.swift
Due: rust

Harden schema parsing and session launch against live server
  CHANGELOG.md
  crates/edgefirst-cli/tests/cli.rs
  crates/edgefirst-client-ffi/src/lib.rs
  crates/edgefirst-client/src/api.rs
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/tests/wiremock_coverage.rs
  test/__init__.py
  test/test_experiments.py
Due: rust

Address PR review feedback and CI failures
  .cargo/audit.toml
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/src/lib.rs
  crates/edgefirst-client/tests/wiremock_coverage.rs
Due: rust, python

fix: add missing version argument to Swift DatasetTests call sites
  swift/EdgeFirstClientTests/DatasetTests.swift
Due: none

fix: AnnotationSet deserialization crash on tag-scoped reads
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-client-ffi/src/lib.rs
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/src/dataset.rs
Due: rust, python

Fix Swift AnnotationSet tests for optional dataset_id/created fields
  swift/EdgeFirstClientTests/DatasetTests.swift
  swift/EdgeFirstClientTests/DomainStructTests.swift
Due: none

fix: Label deserialization crash on tag-scoped reads, add color field
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/src/dataset.rs
Due: rust, python

feat: expose VersionTag.is_current and Dataset tag_id/tag/tag_description
  CHANGELOG.md
  crates/edgefirst-client-ffi/src/lib.rs
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/src/api.rs
  crates/edgefirst-client/src/dataset.rs
  swift/EdgeFirstClientTests/DomainStructTests.swift
Due: rust, python

test: document confirmed dve-database restore bug as known limitation
  TESTING.md
  test/test_versioning.py
Due: none

fix(test): create circle label synchronously before tagging
  test/test_versioning.py
Due: none

test: add wait_for_label fixture for async label-creation timing
  test/fixtures.py
Due: none

test: extend versioning suite with edit-after-tag, multi-tag fetch-back, and changelog coverage
  TESTING.md
  test/fixtures.py
  test/test_versioning.py
Due: none

Fix final PR review findings: docstrings, test hygiene, docs, FFI comment
  CHANGELOG.md
  TESTING.md
  crates/edgefirst-client-ffi/src/lib.rs
  test/test_versioning.py
Due: rust

test: confirm DE-2790 fixed on test server, update test_restore_to_tag
  TESTING.md
  test/test_versioning.py
Due: none

feat(py): expose usage_summary, with_url, and download on Client
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
  test/test_client.py
Due: rust, python

feat(py): expose dataset_tags and collect_labels_from_samples
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
  test/test_datasets.py
Due: rust, python

feat(py): add missing Annotation setters and frame_number/category_frequency
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
  test/test_datasets.py
Due: rust, python

feat(py): expose add_annotations_bulk/delete_annotations_bulk
  CHANGELOG.md
  TESTING.md
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/src/lib.rs
  test/test_versioning.py
Due: rust, python

docs(py): clarify label_id is required to resolve labels in ServerAnnotation
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
Due: rust, python

fix(py): remove 2 phantom .pyi stub entries
  crates/edgefirst-client-py/edgefirst_client.pyi
Due: rust, python

docs: add dataset versioning workflows table to TESTING.md
  TESTING.md
Due: none

docs: update CHANGELOG.md for Python API parity work and DE-2790 fix
  CHANGELOG.md
Due: none

docs: move phantom-stub cleanup bullet from Added to Fixed in CHANGELOG.md
  CHANGELOG.md
Due: none

fix(client): address PR #34 review feedback on versioning surface
  crates/edgefirst-client-ffi/src/lib.rs
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/src/api.rs
  test/test_versioning.py
Due: rust, python

docs: fix TESTING.md env.sh reproducibility, update CHANGELOG
  CHANGELOG.md
  TESTING.md
Due: none

Release 2.12.0
  CHANGELOG.md
  CLI.md
  Cargo.lock
  Cargo.toml
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/src/dataset.rs
  examples/05_download_dataset.py
Due: rust, python

automation: update Swift package for v2.12.0 release [skip ci]
  Package.swift
  swift/EdgeFirstClient.swift
Due: none

Prepare 2.12.1: doc corrections and download-annotations --types fix
  CHANGELOG.md
  CLI.md
  Cargo.lock
  Cargo.toml
  DATASET_FORMAT.md
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client/src/api.rs
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/src/storage.rs
Due: rust, python

Clarify download-annotations --types mask/polygon/raster semantics
  CLI.md
  crates/edgefirst-cli/src/main.rs
Due: rust

automation: update Swift package for v2.12.1 release [skip ci]
  Package.swift
Due: none

DE-2439: Add delete_samples API with tag-restore round-trip tests
  CLI.md
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/src/api.rs
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/src/dataset.rs
  test/fixtures.py
  test/test_versioning.py
Due: rust, python

DE-2439: Fix CI failures and address PR review feedback
  Cargo.lock
  test/test_versioning.py
Due: none

Skip tests hitting a known, tracked server-side GROUP BY error
  crates/edgefirst-cli/tests/cli.rs
  test/__init__.py
  test/test_advanced.py
  test/test_coco.py
  test/test_datasets.py
  test/test_ids.py
  test/test_snapshots.py
  test/test_versioning.py
Due: none

Prepare 2.12.2: delete_samples API and versioning integration tests
  CHANGELOG.md
  CLI.md
  Cargo.lock
  Cargo.toml
  Package.swift
Due: none

Do not bump Package.swift version in release prep
  Package.swift
Due: none

automation: update Swift package for v2.12.2 release [skip ci]
  Package.swift
Due: none

Route bulk sample fetches through bulk_http to avoid timeouts.
  CHANGELOG.md
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client/src/api.rs
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/src/retry.rs
Due: rust, python

Restore EDGEFIRST_SAMPLES_PAGE_SIZE after page-limit tests.
  crates/edgefirst-client/src/client.rs
Due: rust

Path conditions:
  rust: any of: crates/, but not: **/*.md, **/test*.py, **/*_test.rs, **/tests/**, testdata/**, examples/**
  python: any of: crates/edgefirst-client-py/, but not: **/*.md, **/test*.py, **/*_test.rs, **/tests/**, testdata/**, examples/**
