Repository EdgeFirstAI/client: changes, and which Codecov flags are due for each by the changed paths.
All: rust, python

Omit out-of-range attribute values and hoist the category_frequency cast
  crates/edgefirst-cli/src/main.rs
Due: rust

Add ignore/exclude annotation flags and skip VisDrone ignored regions by default
  CHANGELOG.md
  CLI.md
  DATASET_FORMAT.md
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-cli/tests/cli.rs
  crates/edgefirst-cli/tests/visdrone_offline.rs
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/src/coco/arrow.rs
  crates/edgefirst-client/src/coco/studio.rs
  crates/edgefirst-client/src/coco/tests.rs
  crates/edgefirst-client/src/dataset.rs
  crates/edgefirst-client/src/format.rs
  crates/edgefirst-client/src/lib.rs
  crates/edgefirst-client/src/visdrone/arrow.rs
  crates/edgefirst-client/src/visdrone/mod.rs
  crates/edgefirst-client/src/visdrone/reader.rs
  crates/edgefirst-client/src/visdrone/tests.rs
  crates/edgefirst-client/tests/wiremock_coverage.rs
  examples/09_visdrone_conversion.py
  test/test_annotation_flags.py
  test/test_visdrone.py
Due: rust, python

Skip crowd-only categories when import-coco --update creates labels
  crates/edgefirst-client/src/coco/studio.rs
Due: rust

chore: prepare v2.15.0 release
  CHANGELOG.md
  CLI.md
  Cargo.lock
  Cargo.toml
  DATASET_FORMAT.md
  crates/edgefirst-client-py/edgefirst_client.pyi
Due: rust, python

Write and read IMU pose as roll, pitch, yaw
  CHANGELOG.md
  DATASET_FORMAT.md
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client/src/dataset.rs
Due: rust, python

Release v2.16.0
  CHANGELOG.md
  CLI.md
  Cargo.lock
  Cargo.toml
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/src/api.rs
  crates/edgefirst-client/tests/wiremock_coverage.rs
Due: rust, python

Raise TypeError from set_platform and test the Python binding
  .github/workflows/test.yml
  Makefile
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/tests/wiremock_coverage.rs
  test/test_set_platform.py
Due: rust, python

Add recycle bin list and purge
  CHANGELOG.md
  CLI.md
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-cli/tests/cli.rs
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/src/api.rs
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/src/lib.rs
  crates/edgefirst-client/tests/wiremock_coverage.rs
  test/__init__.py
  test/test_advanced.py
  test/test_coco_studio_roundtrip.py
  test/test_datasets.py
  test/test_experiments.py
  test/test_snapshots.py
  test/test_versioning.py
Due: rust, python

Release v2.16.1
  .cargo/audit.toml
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/sbom.yml
  .github/workflows/studio.yml
  .github/workflows/test.yml
  CHANGELOG.md
  CLI.md
  Cargo.lock
  Cargo.toml
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/Cargo.toml
Due: rust, python

Update CLI.md date and documented Rust minimum to 1.95
  CLI.md
  CONTRIBUTING.md
  README.md
Due: none

Release v2.17.0
  .github/workflows/test.yml
  CHANGELOG.md
  CLI.md
  Cargo.lock
  Cargo.toml
  DATASET_FORMAT.md
  Makefile
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/src/coco/arrow.rs
  crates/edgefirst-client/src/coco/reader.rs
  crates/edgefirst-client/src/mask.rs
  requirements.txt
  test/test_mask_offset.py
Due: rust, python

Path conditions:
  rust: any of: crates/, but not: **/*.md, **/test*.py, **/*_test.rs, **/tests/**, testdata/**, examples/**
  python: any of: crates/edgefirst-client-py/, but not: **/*.md, **/test*.py, **/*_test.rs, **/tests/**, testdata/**, examples/**
