Repository EdgeFirstAI/client: changes, and which Codecov flags are due for each by the changed paths.
All: rust, python

Add back empty [Unreleased] section in CHANGELOG.md
  CHANGELOG.md
Due: none

automation: update Swift package for v2.9.5 release [skip ci]
  Package.swift
Due: none

feat: validator + profiler API surface (DE-2565)
  CHANGELOG.md
  CLI.md
  Cargo.lock
  Cargo.toml
  Makefile
  crates/edgefirst-client-ffi/src/lib.rs
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/src/api.rs
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/src/error.rs
  crates/edgefirst-client/src/lib.rs
  swift/EdgeFirstClient.swift
  test/test_advanced.py
  test/test_jobs.py
  test/test_task_charts.py
  test/test_task_data.py
  test/test_val_data.py
Due: rust, python

fix(DE-2565): address PR feedback and boost test coverage
  CHANGELOG.md
  crates/edgefirst-client-ffi/src/lib.rs
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/src/api.rs
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/src/error.rs
  swift/EdgeFirstClient.swift
  swift/EdgeFirstClientTests/ArtifactTests.swift
  swift/EdgeFirstClientTests/EntityTests.swift
  swift/EdgeFirstClientTests/TaskInfoTests.swift
  test/test_jobs.py
  test/test_task_charts.py
  test/test_task_data.py
  test/test_val_data.py
Due: rust, python

fix(DE-2565): address round-2 PR feedback
  .github/workflows/test.yml
  CLI.md
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/src/api.rs
  crates/edgefirst-client/src/client.rs
Due: rust, python

fix(DE-2565): broaden .pyi path annotations to Union[str, Path]
  crates/edgefirst-client-py/edgefirst_client.pyi
Due: rust, python

chore: apply cargo fmt
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/src/client.rs
Due: rust, python

release(DE-2565): cut [2.10.0] and address round-3 PR feedback
  CHANGELOG.md
  crates/edgefirst-client/src/api.rs
  crates/edgefirst-client/src/client.rs
Due: rust

fix(DE-2565): address round-4 PR feedback
  Package.swift
  crates/edgefirst-client/src/client.rs
Due: rust

test(DE-2565): wiremock integration suite for new API surface
  Cargo.lock
  crates/edgefirst-client/Cargo.toml
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/tests/wiremock_coverage.rs
Due: rust

test(DE-2565): self-discovering Python integration tests
  test/test_task_charts.py
  test/test_task_data.py
  test/test_val_data.py
Due: none

ci(sonar): fix generated-file analysis + Cargo.toml false positive
  .gitignore
  sonar-project.properties
Due: none

test(DE-2565): broaden test_jobs.py PyO3 coverage
  test/test_jobs.py
Due: none

test(DE-2565): cover PyO3 progress-callback bridge
  test/test_task_data.py
  test/test_val_data.py
Due: none

ci(security): harden test.yml supply-chain entrypoints
  .github/workflows/test.yml
  requirements.txt
Due: none

ci(security): hash-lock Python deps to satisfy S8544
  .github/workflows/test.yml
  requirements.in
  requirements.txt
Due: none

ci(lint): add -- to ls glob to satisfy S6573
  .github/workflows/test.yml
Due: none

ci(security): hash-lock local-wheel install to clear S8544
  .github/workflows/test.yml
Due: none

feat(client): enforce HTTPS in with_url to protect bearer tokens
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/src/error.rs
Due: rust

test(client): serialize cwd-mutating wiremock test (Finding #23)
  crates/edgefirst-client/Cargo.toml
  crates/edgefirst-client/tests/wiremock_coverage.rs
Due: rust

feat(client): start/delete validation session APIs for tests
  crates/edgefirst-client/src/api.rs
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/src/lib.rs
  crates/edgefirst-client/tests/wiremock_coverage.rs
Due: rust

feat(client-py): bind start/delete_validation_sessions
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
Due: rust, python

test(py): create+delete user-managed validation session per suite
  Cargo.lock
  test/__init__.py
  test/test_task_charts.py
  test/test_task_data.py
  test/test_val_data.py
Due: none

fix(client): with_server clears token on full-URL path too
  crates/edgefirst-client/src/client.rs
Due: rust

fix(client-py): start_validation_session params stub matches binding
  crates/edgefirst-client-py/edgefirst_client.pyi
Due: rust, python

chore(deps): loosen requirements.in pins to bounded ranges
  requirements.in
Due: none

docs(changelog): document InsecureUrl + with_server token-clearing
  CHANGELOG.md
Due: none

build: sync internal edgefirst-client dep to workspace 2.10.0
  Cargo.toml
Due: none

docs(changelog): bump 2.10.0 release date to today
  CHANGELOG.md
Due: none

style: apply cargo fmt + ruff line-length wrapping
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/tests/wiremock_coverage.rs
Due: rust, python

ci(sbom): merge per-crate cargo-cyclonedx outputs + dedup scancode
  .github/scripts/generate_sbom.sh
  .gitignore
  crates/edgefirst-client-py/pyproject.toml
Due: rust, python

fix(client-py): pin polars dep range to clear S8565
  crates/edgefirst-client-py/pyproject.toml
Due: rust, python

ci(sonar): ignore S8565 on the maturin pyproject.toml
  sonar-project.properties
Due: none

automation: update Swift package for v2.10.0 release [skip ci]
  Package.swift
  swift/EdgeFirstClient.swift
Due: none

Add update-dimensions API and fix multipart upload bug
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-client-ffi/src/lib.rs
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/src/api.rs
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/src/dataset.rs
  crates/edgefirst-client/src/lib.rs
Due: rust, python

Address PR feedback: tests, error handling, and code quality
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-client-ffi/src/lib.rs
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client-py/src/lib.rs
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/tests/wiremock_coverage.rs
Due: rust, python

Add error-path tests for backfill coverage
  crates/edgefirst-client/tests/wiremock_coverage.rs
Due: none

Address review feedback: refactor backfill and fix docs
  crates/edgefirst-cli/src/main.rs
  crates/edgefirst-client-ffi/src/lib.rs
  crates/edgefirst-client-py/edgefirst_client.pyi
  crates/edgefirst-client/src/client.rs
  crates/edgefirst-client/tests/wiremock_coverage.rs
Due: rust, python

chore: prepare v2.10.1 release
  CHANGELOG.md
  CLI.md
  Cargo.lock
  Cargo.toml
Due: none

automation: update Swift package for v2.10.1 release [skip ci]
  Package.swift
  swift/EdgeFirstClient.swift
Due: none

Path conditions:
  rust: any of: crates/, but not: **/*.md, **/test*.py, **/*_test.rs, **/tests/**, testdata/**, examples/**
  python: any of: crates/edgefirst-client-py/, but not: **/*.md, **/test*.py, **/*_test.rs, **/tests/**, testdata/**, examples/**
